.image-list {
  display: flex;
  list-style-type: none;
}

.image-item {
  width: 100px;
  margin: 10px;
}

.validation-input {
  border: 3px solid #bdbdbd;
}

.valid {
  border-color: #4caf50;
}

.invalid {
  border-color: #f44336;
}
